
.bg-alright {
  background-color: #a1efff;
  /* color: #89d991; */
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  height: 3000px;
  }

.bree-serif {
  font-family: 'Bree Serif', serif;
  font-size: 2em;
}

.intro {
  font-size: 20pt;
  font-family: 'Bree Serif', serif;
  text-align: center;
  width: 400px;
  margin: auto;
  margin-top: 4em;
}

#o {
  font-size: 2em;
  margin-top: 20px;
}

#t {
  font-family: 'Dancing Script', cursive;
}

.inline {
  display: inline;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: white;
  color: white;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Bree Serif', 'Source Sans Pro', sans-serif;
}

h2 {
  text-align: center;
  font-family: 'Bree Serif', 'Source Sans Pro', sans-serif;
}

.block-test {
  background-color: #a1efff;
  font-size: 18pt;
  margin-left: 0;
  margin-right: 0;
}

#font-size {
  font-size: 18pt;
}

#spantest {
  background-color: #a1efff;
  font-size: 18pt;
}

.inline-block {
  display: inline;
  text-align: center;
  font-size: 18pt;
  font-family: 'Bree Serif', 'Source Sans Pro', sans-serif;
}

.goku {
  height: 300px;
  width: auto;
}

.goku2 {
  height: 300px;
  width: auto;
  display: block;
}

.button {
  text-decoration: none;
  background-color: lightblue;
  color: gray;
  opacity: 70%;
  /* padding: 10px 10px; */
}

.button1 {
  text-decoration: none;
  background-color: lightblue;
  color: gray;
  padding: 20px 50px;
  opacity: 70%;
}

.button2 {
  display: inline-block;
  text-decoration: none;
  background-color: lightblue;
  color: gray;
  padding: 20px 50px;
  opacity: 70%;
}

p {
  text-align: center;
}
